@{
    ViewData["Title"] = "Device Page";
}

<link href="@Url.Content("~/css/reporte.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/js/calendar.min.js")"></script>
<!-- Calendar picker -->
<link href="@Url.Content("~/css/calendar.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/datatables.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/nprogress.css")" rel="stylesheet" type="text/css" />

<!-- <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item active">REPORTES</li>
</ul> -->

<style>
    .stat-digit {
        font-size: 28px;
        font-weight: bold;
    }

    th.dt-center, td.dt-center { text-align: center; }
</style>

<div class="container-fluid">

    <div class="col-md-12 card-deck">


    </div>


    <!--   Querys  -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <form class="form-inline" action="">

                        
                    <h2> Rango del Reporte </h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="repoInitTime">Fecha inicial: </label>
                    <input type="text" class="calendar" id="repoInitTime" name="repoInitTime"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="repoEndTime">Fecha final: </label>
                    <input type="text" class="calendar" id="repoEndTime" name="repoEndTime"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" id ="consultBtn"> Consultar </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-secondary" id ="exportPDF"> Generar Reporte en PDF </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="destinatario">Destinatario : </label>
                    <input type="text" name="destinatario" id="destinatario"> &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" id ="sendEmail"> Generar y enviar reporte por Email </a>
                    
                </form>
                
            </div>
            <div class="card-body">
                <div class="reporte view" id="reporte">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Enrolados</h4>
                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="stat-content dib" style="text-align:center">
                                                    <div class="stat-text">Registros</div>
                                                    <div class="stat-digit" id="totalRegistros">  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="stat-content dib" style="text-align:center">
                                                    <div class="stat-text">Enrolados</div>
                                                    <div class="stat-digit" id="totalEnrolados">  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="stat-content dib" style="text-align:center">
                                                    <div class="stat-text">Reg. Periodo</div>
                                                    <div class="stat-digit" id="totalEnroladosPeriodo">  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="stat-content dib" style="text-align:center">
                                                    <div class="stat-text">Enrol. Periodo</div>
                                                    <div class="stat-digit" id="totalEnroladosOkPeriodo">  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="stat-content dib" style="text-align:center">
                                                    <div class="stat-text">Actualización P.</div>
                                                    <div class="stat-digit" id="totalUpdatedPeriodo">  </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Eventos de Reconocimiento</h4>
                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <div class="stat-digit" id="totalReconocimientos"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Personas reconocidas</h4>

                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <!-- <div class="stat-text">Alumnos Atendidos</div> -->
                                            <div class="stat-digit" id="totalPersonas"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Alertas de temperatura</h4>

                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <!-- <div class="stat-text">Total Asistencias Registradas</div> -->
                                            <div class="stat-digit" id="totalAlertas"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>





                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Soporte Enrolamiento</h4>
                                    <p class="card-category">Registro de enrolamiento del periodo</p>
                                    @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-50px;" id="exportSopoEnro"> Exportar a PDF </a> *@
                                </div>
                                <div class="card-body " style="height:450px;overflow:auto;">
                                    <!-- <div id="columnwrapper6" style="width:100%; margin-bottom: 20px;"></div>
                                    <?php //echo $this->Highcharts->render($chartName6); ?> -->
                                    <table id="tblEnroll" class="table table-vcenter table-condensed table-bordered display">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Doc</th>
                                                <th>Nombre</th>
                                                <th>Empresa</th>
                                                <th>Ciudad</th>
                                                <th>Foto?</th>
                                            </tr>
                                        </thead>
                                        <tbody id="soporteEnrolados">
                                        </tbody>

                                    </table>
                                </div>

                                <div class="card-footer ">
                                    <hr>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="walkins">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Distribucion Reconocimientos</h4>
                                        <p class="card-category">Registro de reconocimientos del periodo</p>
                                        @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-50px;" id="exportDistriReco"> Exportar a PDF </a> *@
                                    </div>
                                    <div class="card-body " style="height:450px;overflow:auto;width:'100%';">
                                        <table id="tblRecoDisp" class="table table-vcenter table-condensed table-bordered display" >
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th nowrap>Regional</th>
                                                    <th nowrap>Instalación</th>
                                                    <th>Puerta</th>
                                                    <th>Recon.</th>
                                                    <th>Pers.</th>
                                                    <th>Al.T.</th>
                                                </tr>
                                            </thead>
                                            <tbody id="distribReco">
                                            </tbody>
                                            <tfoot>
                                                <th> Totales </th>
                                                <th colspan="3"></th>
                                                <th id="tReco"></th>
                                                <th id="tPerso"></th>
                                                <th id="tAlert"></th>
                                            </tfoot>

                                        </table>

                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Soporte Eventos de Reconocimientos</h4>
                                            <p class="card-category">Registro de personas reconocidas</p>
                                            @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-50px;" id="exportSopoReco"> Exportar a PDF </a> *@
                                        </div>
                                        <div class="card-body " style="height:450px;overflow:auto;">
                                            <div id="columnwrapper" style="width:100%; margin-bottom: 20px;"></div>
                                            <table id="tblRecos" class="table table-vcenter table-condensed table-bordered display">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Instalación</th>
                                                    <th>Puerta</th>
                                                    <th>Doc</th>
                                                    <th>Nombre</th>
                                                    <th>Empresa</th>
                                                    <th>Sim</th>
                                                    <th>Temp</th>
                                                </tr>
                                            </thead>
                                            <tbody id="soporteReconocimientos">
                                            </tbody>

                                        </table>
                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Soporte Personas Reconocidas</h4>
                                            <p class="card-category">Registro de personas reconocidas</p>
                                            @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-50px;" id="exportSopoRecoPerso"> Exportar a PDF </a> *@
                                        </div>
                                        <div class="card-body " style="height:450px;overflow:auto;">
                                            <div id="columnwrapper" style="width:100%; margin-bottom: 20px;"></div>
                                            <table id="tblSopRecoPerso" class="table table-vcenter table-condensed table-bordered display">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Instalación</th>
                                                    <th>Doc</th>
                                                    <th>Nombre</th>
                                                    <th>Empresa</th>
                                                </tr>
                                            </thead>
                                            <tbody id="soporteReconocimientos">
                                            </tbody>

                                        </table>
                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Soporte Alertas</h4>
                                            <p class="card-category">Registro de alertas por personas</p>
                                            @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-50px;" id="exportSoporAlert"> Exportar a PDF </a> *@
                                        </div>
                                        <div class="card-body " style="height:450px;overflow:auto;">
                                            <div id="columnwrapper" style="width:100%; margin-bottom: 20px;"></div>
                                            <table id="tblAlertas" class="table table-vcenter table-condensed table-bordered display">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Instalación</th>
                                                    <th>Puerta</th>
                                                    <th>Disp.</th>
                                                    <th>Doc</th>
                                                    <th>Nombre</th>
                                                    <th>Empresa</th>
                                                    <th>Sim</th>
                                                    <th>Temp</th>
                                                </tr>
                                            </thead>
                                            <tbody id="soporteAlertas">
                                            </tbody>

                                        </table>
                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row card-deck">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header ">
                                        <h4 class="card-title">Consulta de datos</h4>
                                        <select id="bind_device_id_select">
                                            <option value="" data-token=""> Seleccione </option>

                                            @foreach (dynamic device in ViewBag.Devices)
                                            {
                                                <option value="@device.dev_id">@device.tag</option>
                                            }
                                        </select>
                                        <br>
                                        <br>
                                        <label for="Name">Nombre: </label>
                                        <input type="text" id="ecp_name" name="Name"><br><br>
                                        <label for="Temp">Temperatura mínima: </label>
                                        <input type="text" id="ecp_temp_min" name="Temp"><br><br>
                                        <label for="Temp">Temperatura máxima: </label>
                                        <input type="text" id="ecp_temp_max" name="Temp"><br><br>
                                        <label for="devID">ID dispositivo: </label>
                                        <input type="text" id="ecp_dev_id" name="devID"><br><br>
                                        <label for="userID">ID usuario: </label>
                                        <input type="text" id="ecp_user_id" name="userID"><br><br>
                                        <label for="initTime">Fecha inicial: </label>
                                        <input type="text" class="calendar" id="init" name="initTime"><br><br>
                                        <label for="endTime">Fecha final: </label>
                                        <input type="text" class="calendar" id="end" name="endTime"><br><br>
                                        <label for="msk">Mascarilla: </label>
                                        <input type="text" id="mask_en" name="msk"><br><br>
                                        <label for="rec">Reconocidos: </label>
                                        <input type="text" id="rec_en" name="rec"><br><br>
                                    
                                        <a type="text" id="imageresource" src=""> </a>
                                        <div class="input-group-append"><button class="btn btn-success" id="Query" style="width:165px;">Enviar</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card" style="max-height:600px;">
                                <div class="card-header">
                                    <h4 class="card-title">Datos obtenidos</h4>
                                    @* <a class="btn btn-secondary float-right" style="display:block; margin-top:-35px;" id="exportDatos"> Exportar a PDF </a> *@
                                </div>
                                <div class="card-body" id="dynReport" style="min-height:550px;overflow:auto;">
                                    <table id="tblEvents" class="table table-vcenter table-condensed table-bordered display">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Disp</th>
                                                    <th>Doc</th>
                                                    <th>Nombre</th>
                                                    <th>Masc</th>
                                                    <th>Match</th>
                                                    <th>Similar</th>
                                                    <th>Temp</th>
                                                    <th>imageUrl</th>
                                                </tr>
                                            </thead>
                                            <tbody id="soporteEventos">
                                            </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">CONSULTAS</h4>
                <br>
                <select id="bind_device_id_select">
                    <option value="" data-token=""> Seleccione </option>

                    @foreach (dynamic device in ViewBag.Devices)
                    {
                        <option value="@device.dev_id">@device.tag</option>
                    }
                </select> <div class="input-group-append"></div>
                <br>
                <div class="row">
                    <form>
                        <h5>Consulta por páginas</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> Cantidad de páginas </span></div><input autocomplete="off" type="text" class="form-control" id="page" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_pages" style="width:165px;">REALIZAR CONSULTA</button></div>
                        </div>

                        <div class="row">

                        </div>
                        <h5>Consulta por lote</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> ID del lote </span></div><input autocomplete="off" type="text" class="form-control" id="batch" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_batch" style="width:165px;">CONSULTAR LOTE</button></div>
                        </div>

                        <div class="row">

                        </div>
                        <h5>Consulta por usuario</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> ID del usuario </span></div><input autocomplete="off" type="text" class="form-control" id="user" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_user" style="width:165px;">CONSULTAR USUARIO</button></div>
                        </div>
                        <div class="row">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Image preview</h4>
        </div>
        <div class="modal-body">
            <img src="" id="imagepreview" style="width: 400px; height: 600px;" >
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    

    <script src="~/js/datatables.js"></script>
    <script src="~/js/DataTables-1.10.21/js/dataTables.rowGroup.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/jspdf.js"></script>
    <script src="~/js/nprogress.js"></script>
    <script src="~/js/html2canvas.js"></script>
    <script src="~/js/jspdf.plugin.autotable.js"></script>
    <script>

        var result = [];
        var device_tkn;
        var eventosDia, reconocimientosDia, personasDia;
        var tblRecoDisp, tblSopReco;
        var totalEnrolOkPeriodo , totalEnrolPeriodo;




        $('#query_pages').on('click',queryPages);
        $('#query_batch').on('click', queryBatch);
        $('#query_user').on('click', queryUser);
        $('#bind_device_id_select').on('change', changeDevice);
        $("#sendEmail").on('click', sendEmail);


        $('#exportPDF').on('click', exportPDF);
        $('#exportSopoEnro').on('click', SopoEnroPDF);
        $('#exportDistriReco').on('click', DistriRecoPDF);
        $('#exportSopoReco').on('click', SopoRecoPDF);
        $('#exportSopoRecoPerso').on('click', SopoRecoPersoPDF);
        $('#exportSoporAlert').on('click', SopoAlertPDF);
        $('#exportDatos').on('click', DatosPDF);
        

        

        $('#Query').on('click', reportQuery);

        // Exportación General del reporte
        function exportPDF() {
            var doc = new jsPDF();
            var totalEnrol = $('#totalEnrolados').html();
            var totalEnrolOkPeriodo = $('#totalEnroladosOkPeriodo').html();
            var totalUpdatedPeriodo = $('#totalUpdatedPeriodo').html();
            var totalReg = $('#totalRegistros').html();          
            var totalPeriodo = $('#totalEnroladosPeriodo').html()
            var totalRec = $('#totalReconocimientos').html();
            var totalPerson = $('#totalPersonas').html();
            var alert = $('#totalAlertas').html();
            doc.setProperties({
                title: 'Reporte de datos'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
                   
            doc.setFontStyle('normal');           
            doc.setFontType("bold");
            
            doc.setFontSize(18); 
            doc.text(80, 20, 'INFORME DIARIO');
            doc.setFontSize(10); 
            doc.text(15, 30, 'LUGAR : GENERAL'); 
            var limitY = 30;

            localTime = new Date();

            console.log(localTime);

            
            
             //en is language option, you may specify..
            
            // Cambiamos tipo de letra
            doc.setFontType("normal");
            doc.text(15, limitY + 5,  'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());
            doc.text(15, limitY + 15, 'Fecha de generación del reporte:' ); doc.text(100, limitY + 15,  localTime.toLocaleString('co')); 
            doc.text(15, limitY + 25, 'Total de personas que han diligenciado el formulario de datos hasta la fecha de generación del reporte:'); doc.text(180, limitY + 25,  totalReg.toString() );
            doc.text(15, limitY + 30, 'Total de personas enroladas correctamente hasta la fecha de generación del reporte:	'); doc.text(180, limitY + 30,  totalEnrol.toString() );
            
            doc.text(15, limitY + 40, 'Total de personas nuevas que diligenciaron el formulario de datos durante el período del reporte:');  doc.text(180, limitY + 40,  totalPeriodo.toString());
            doc.text(15, limitY + 45, 'Total de personas enroladas con foto válida durante el período del reporte:' ); doc.text(180, limitY + 45,  (totalEnrolOkPeriodo ? totalEnrolOkPeriodo : "") );
            doc.text(15, limitY + 55, 'Total de personas que actualizaron foto válida durante el período del reporte:' ); doc.text(180, limitY + 55,  ( totalUpdatedPeriodo ? totalUpdatedPeriodo : "") );

            doc.text(15, limitY + 65, 'Total Eventos de Reconocimiento durante el período del reporte: '); doc.text(180, limitY + 65,  totalRec.toString() );
            doc.text(15, limitY + 70, 'Total personas diferentes reconocidas durante el período del reporte:'); doc.text(180, limitY + 70,  totalPerson.toString() );
        
            doc.text(15, limitY + 80, 'Total alertas de temperatura elevada durante período del reporte:' ); doc.text(180, limitY + 80,  alert.toString() ); 
            
            //doc.lastAutoTable.finalY;

            doc.setFontType("bold");
            doc.setFontSize(10); 
            
            doc.text(15, limitY + 90, 'Distribución de eventos de reconocimiento en el periodo: ');
            doc.setFontType("normal");

            var header = function(data) {
                doc.setFontSize(12);
                doc.setTextColor(40);
                doc.setFontStyle('normal');
                //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
                doc.text("Distribución de eventos de reconocimiento en el periodo", data.settings.margin.left, 50);
            };


            var options = {
                tableLineColor: [189, 195, 199],
                tableLineWidth: 0.75,
                styles: {
                    font: 'Meta',
                    lineColor: [44, 62, 80],
                    lineWidth: 0.55
                },
                headerStyles: {
                    fillColor: [0, 0, 0],
                    fontSize: 11
                },
                bodyStyles: {
                    fillColor: [216, 216, 216],
                    textColor: 50
                },
                alternateRowStyles: {
                    fillColor: [250, 250, 250]
                },
                startY: 100,
                drawRow: function (row, data) {
                    // Colspan
                    doc.setFontStyle('bold');
                    doc.setFontSize(10);
                    if ($(row.raw[0]).hasClass("innerHeader")) {
                        doc.setTextColor(200, 0, 0);
                        doc.setFillColor(110,214,84);
                        doc.rect(data.settings.margin.left, row.y, data.table.width, 20, 'F');
                        doc.autoTableText("", data.settings.margin.left + data.table.width / 2, row.y + row.height / 2, {
                            halign: 'center',
                            valign: 'middle'
                        });
                    /*  data.cursor.y += 20; */
                    };

                    if (row.index % 5 === 0) {
                        var posY = row.y + row.height * 6 + data.settings.margin.bottom;
                        if (posY > doc.internal.pageSize.height) {
                            data.addPage();
                        }
                    }
                },
                drawCell: function (cell, data) {
                    // Rowspan
                    console.log(cell);
                    if ($(cell.raw).hasClass("innerHeader")) {
                            doc.setTextColor(200, 0, 0);
                            doc.autoTableText(cell.text + '', data.settings.margin.left + data.table.width / 2, data.row.y + data.row.height / 2, {
                            halign: 'center',
                            valign: 'middle'
                        });
                        
                        return false;
                    }
                }
            }

            /*
            var options = {
                beforePageContent: header,
                margin: {
                    top: 10
                },

                startY: doc.autoTableEndPosY() + 20,

                createdCell: function(cell, opts) {
                    //if (cell.text[0].indexOf('da')>-1) { // count startrs from 0
                        // cell.raw contains the cell data
                        cell.styles.fillColor = [216,78,75];     // random color
                        cell.styles.textColor = [58,121,152];
                        cell.styles.fontStyle = 'normal';
                        cell.styles.fontSize = '9';
                    //}
                },
            };
            */
            
            
            doc.autoTable({ startY: limitY + 100, theme: 'plain', html: '#tblRecoDisp', styles: { cellPadding: 0.5, fontSize: 9 }, theme: 'striped', });

            doc.text(15, doc.lastAutoTable.finalY + 10, 'Nota: La suma total de personas de esta tabla corresponde a personas únicas reconocidas por puerta');    
            
            doc.text(25, doc.lastAutoTable.finalY + 15, 'Una misma persona puede ser reconocida en más de una puerta.');      

            
            /*
            finalY = doc.lastAutoTable.finalY;    
            doc.text(15, finalY + 10, 'Total Alertas de temperatura en el periodo: ');
            doc.autoTable({ startY: finalY+ 20, theme: 'plain', html: '#tblAlertas' });
            */

            pdfName = 'Reporte_' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf';
            // Add new page
            footerPDF(doc);
            var binary = doc.output();

            // Envia el pdf en Base 64 si existe
            serverName = exportPdf(btoa(binary));
            console.log("Name in server :" + serverName )
            //saveLocal(pdfName, doc.output('datauristring'));
            // Save the PDF
            doc.save(pdfName);

            //return(serverName.name)

        }
        
        // Exportación del soporte de Enrrolamiento
        function SopoEnroPDF() {
            var doc = new jsPDF();
            var totalEnrol = $('#totalEnrolados').html();

            doc.setProperties({
                title: 'Soporte Enrolamiento'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(80, 20, 'SOPORTE ENROLAMIENTO');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());
            doc.text(15, limitY + 10, 'Total Enrolados: ' + totalEnrol);

            doc.text(15, limitY + 20, 'Soporte Enrolamiento ');
            doc.autoTable({ startY: limitY + 25, theme: 'plain', html: '#tblEnroll' });

            // Add new page
            footerPDF(doc);
            // Save the PDF
            doc.save('Soporte Enro.pdf');

        }

        // Exportación de la distribución de Enrolamiento
        function DistriRecoPDF() {
            var doc = new jsPDF();
            var totalEnrol = $('#totalEnrolados').html();

            doc.setProperties({
                title: 'Distribución Enrolamiento'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(80, 20, 'DISTRIBUCIÓN ENROLAMIENTO');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());
            doc.text(15, limitY + 10, 'Total Enrolados: ' + totalEnrol);

            doc.text(15, limitY + 20, 'Distribución Enrolamiento ');
            doc.autoTable({ startY: limitY + 25, theme: 'plain', html: '#tblRecoDisp' });

            // Add new page
            footerPDF(doc);
            // Save the PDF
            doc.save('Distribucion Enrolamiento_' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf');

        }


        // Exportación del soporte de reconocimiento
        function SopoRecoPDF() {
            var doc = new jsPDF('landscape');
            var totalEnrol = $('#totalEnrolados').html();
            var totalRec = $('#totalReconocimientos').html();

            doc.setProperties({
                title: 'Soporte Reconocimiento'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(120, 20, 'SOPORTE RECONOCIMIENTO');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());            
            doc.text(15, limitY + 10, 'Total reconocimientos: ' + totalRec);

            doc.text(15, limitY + 20, 'Soporte reconocimiento ');
            doc.autoTable({ startY: limitY + 25, theme: 'plain', html: '#tblRecos' });           

            // Add new page
            // footerPDF(doc);
            // Save the PDF
            doc.save('SoporteReco_' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf');

        }

        // Exportación del soporte de reconocimiento
        function SopoRecoPersoPDF() {
            var doc = new jsPDF('landscape');
            var totalEnrol = $('#totalEnrolados').html();
            var totalRec = $('#totalReconocimientos').html();
            var totalPer = $('#totalPersonas').html();

            doc.setProperties({
                title: 'Soporte Personas reconocidas'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(120, 20, 'SOPORTE RECONOCIMIENTO DE PERSONAS');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());            
            doc.text(15, limitY + 10, 'Total eventos de reconocimiento: ' + totalRec);
            doc.text(15, limitY + 15, 'Total Personas reconocidas: ' + totalPer);

            doc.text(15, limitY + 30, 'Soporte reconocimiento ');
            doc.autoTable({ startY: limitY + 35, theme: 'plain', html: '#tblSopRecoPerso' });           

            // Add new page
            // footerPDF(doc);
            // Save the PDF
            doc.save('SoporteRecoPerso_' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf');

        }

        // Exportación del Soporte de Alertas
        function SopoAlertPDF() {
            var doc = new jsPDF();
            var alertas = $('#totalAlertas').html();

            doc.setProperties({
                title: 'Soporte de alertas'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(70, 20, 'SOPORTE DE ALERTAS DE TEMPERATURA');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());
            doc.text(15, limitY + 10, 'Total Alertas: ' + alertas);

            doc.text(15, limitY + 20, 'Soporte Alertas ');
            doc.autoTable({ startY: limitY + 25, theme: 'plain', html: '#tblAlerts' });

            // Add new page
            footerPDF(doc);
            // Save the PDF
            doc.save('Soporte Alertas Temp_' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf');

        }


        // Exportación de datos consultados
        function DatosPDF() {
            var doc = new jsPDF('landscape');         

            doc.setProperties({
                title: 'Consulta de datos'
            });
            // doc.addFont('ArialMS', 'Arial', 'normal');   
            doc.setFontSize(10);
            doc.setFontStyle('normal');
            doc.setFontType("bold");
            var limitY = 30;
            doc.text(120, 20, 'CONSULTA DE DATOS');
            doc.text(15, limitY + 5, 'Periodo: ' + "Del " + $('#repoInitTime').val() + " al " + $('#repoEndTime').val());          

            doc.text(15, limitY + 20, 'Datos Consultados');
            doc.autoTable({ startY: limitY + 25, theme: 'plain', html: '#tblDatos' });

            // Add new page
            footerPDF(doc);
            // Save the PDF
            doc.save('Consulta _' + $('#repoInitTime').val() + " - " + $('#repoEndTime').val() + '.pdf');

        }


        function headerPDF(doc){ 
            doc.text(20,20, 'INDRA'); //print number bottom right

            return doc;
        };

        function footerPDF(doc){ 
            // PAGE NUMBERING
            // Add Page number at bottom-right
            // Get the number of pages
            const pageCount = doc.internal.getNumberOfPages();

            // For each page, print the page number and the total pages
            for(var i = 1; i <= pageCount; i++) {
                // Go to page i
                doc.setPage(i);
                //Print Page 1 of 4 for example
                doc.text('Page ' + String(i) + ' of ' + String(pageCount),210-10,300-20,null,null,"right");
                //doc.text('Page ' + String(i) + ' of ' + String(pageCount),210-20,297-30,null,null,"right");
            }

            return doc;

        };

        function emailHtml() {
            let pdf = new jsPDF('p', 'pt', 'a3'); // a4: part of the page is cut off?
            pdf.html(document.body, {
                callback: function (pdf) {
                    let obj = {};
                    obj.pdfContent = pdf.output('datauristring');
                    var jsonData = {
                        pdfName:"generated.pdf",
                        data:JSON.stringify(obj)
                    };
                    $.ajax({
                        url:  '@Url.Action("ExportToPdf", "Reporte")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: jsonData
                    });
                }
            });
        }

        @* function saveLocal(pdfName, pdf) {
            console.log("Enviando pdf a Server");
            var formdata = new FormData(); //FormData object
            formdata.append(pdfName, pdf);
            
            dataPdf = {
                pdfName: pdfName,
                data: pdf
            }
            
            //console.log(dataPdf);

            $.ajax({
                url: '@Url.Action("ExportToPdf", "Reporte")',
                data: jsonData,
                type: "POST",
                contentType: 'application/json',
                       
                //contentType: "application/json; charset=utf-8",
                success: function () {
                    console.log("Se envió el archivo al servidor")
                }
            });

        } *@

        function exportPdf(doc) {
            //prevent the form from doing a submit
			//e.preventDefault();
			
            // Verifica si hay datos
			var pdfData = doc;
			if (!pdfData)
				return;

			//Indicate progress
			NProgress.start();


			var reqData = {
				to: $('#destinatario').val(),
				attachment: pdfData
			};

            console.log(reqData);
            console.log(JSON.stringify(reqData));

			$.ajax({
				url: '@Url.Action("Export", "Reporte")',
				data: reqData,
				//dataType: "json",
				type: "POST",
                //contentType: 'json',
				//contentType: "application/json; charset=utf-8",

                traditional: true,

				success: function (response) {
					//progress.done();

					if (response.result === "success") {

						mailMessage.val("");
						mailTo.val("");

						//alert("Mail send succesfully!");

                        return response.name;
					}
					else {
                        //alert("There seems to be a problem, Please try again!");
                        return  null;
                    }
						

				},
				error: function () {
					//progress.done();
					alert("Error in communicating with server!");
				}
			});
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        $(function () {
            var calendarRepoInit = new CalendarPopup('#repoInitTime', {
                format: 'YYYY-MM-DD HH:mm',
                dayOfWeekStart: 1,
                locale: 'es',
            });

            var today = new Date();
           

            console.log("Start:" + today);
            console.log("End:" + today);

            //calendarRepoInit.set(new Date(today));
            $('#repoInitTime').val(formatDate(today));

            var calendarRepoEnd = new CalendarPopup('#repoEndTime', {
                format: 'YYYY-MM-DD HH:mm',
                dayOfWeekStart: 1,
                locale: 'es',
            });

            //calendarRepoEnd.set(new Date(today));
            $('#repoEndTime').val(formatDate(today));

            var calendarInit = new CalendarPopup('#init', {
                format: 'YYYY-MM-DD HH:mm:ss',
                dayOfWeekStart: 1,
                locale: 'es',
            });

            $('#init').val(formatDate(today));


            var calendarEnd = new CalendarPopup('#end', {
                format: 'YYYY-MM-DD HH:mm:ss',
                dayOfWeekStart: 1,
                locale: 'es',
            });

            $('#end').val(formatDate(today));

            tblRecoDisp = $('#tblRecoDisp').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                fixedHeader: {
                    header: true,
                    footer: true
                },
                columnDefs: [
                    {"className": "dt-center", "targets": "_all"}
                ],
                buttons: [
                    'copy', 
                    'excel', 
                    {
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Distribucion_reconocimientos_'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            //doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Reporte de reconocimientos general";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            
                            // Styling the table: create style object
                            //var objLayout = {};
                            // Horizontal line thickness
                            //objLayout['hLineWidth'] = function(i) { return .5; };
                            // Vertikal line thickness
                            //objLayout['vLineWidth'] = function(i) { return .5; };
                            // Horizontal line color
                            //objLayout['hLineColor'] = function(i) { return '#aaa'; };
                            // Vertical line color
                            //objLayout['vLineColor'] = function(i) { return '#aaa'; };
                            // Left padding of the cell
                            //objLayout['paddingLeft'] = function(i) { return 4; };
                            // Right padding of the cell
                            //objLayout['paddingRight'] = function(i) { return 4; };
                            // Inject the object in the document
                            //doc.content[1].layout = objLayout;
                        }
                    }
        
                ],
                "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api(), data;
        
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
        
                    // Total Recos over all pages
                    tRecos = api
                        .column( 4 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                    
                    // Total Perso over all pages
                    tPerso = api
                        .column( 5 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );


                    // Total Alert over all pages
                    tAlert = api
                        .column( 6 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
        
        
                    // Update footer
                    $( api.column( 4).footer() ).html(
                        tRecos
                    );
                    $( api.column( 5).footer() ).html(
                        tPerso
                    );
                    $( api.column( 6).footer() ).html(
                        tAlert
                    );
                },
                "order": [[ 1, "asc" ],[2,"asc"]],
                rowGroup: {
                    startRender: null,
                    endRender: function ( rows, group ) {
                        var stRecos = rows
                            .data()
                            .pluck(4)
                            .reduce( function (a, b) {
                                return a + b;
                            }, 0);
                        //salaryAvg = $.fn.dataTable.render.number(',', '.', 0, '$').display( salaryAvg );
        
                        var stPerso = rows
                            .data()
                            .pluck(5)
                            .reduce( function (a, b) {
                                return a + b;
                            }, 0);
                        
                        var stAlarm = rows
                            .data()
                            .pluck(6)
                            .reduce( function (a, b) {
                                return a + b;
                            }, 0) ;
        
                        return $('<tr style="text-weigth:bold"/>')
                            .append( '<td colspan="4"><b>Sub Total para '+group+'</b></td>' )
                            .append( '<td style="text-align:center"><b>'+stRecos+'</b></td>' )
                            .append( '<td style="text-align:center"><b>'+stPerso+'</b></td>' )
                            .append( '<td style="text-align:center"><b>'+stAlarm+'</b></td>' );
                    },
                    dataSrc: 2
                }

            });

            let todayDate = new Date().toLocaleString();

            tblSopReco = $('#tblRecos').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy', 
                    'excel',
                    {
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Soporte_reconocimientos_'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Reporte de reconocimientos general";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            
                        }
                    }
                ]

            });

            tblSopRecoPerso = $('#tblSopRecoPerso').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy', 
                    'excel',
                    {
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Soporte_personas_'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Soporte de reconocimiento de personas";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            
                        }
                    }
                    
                ]

            });

            tblSopAlertas = $('#tblAlertas').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy',  'excel',
                    {
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Soporte_alertas'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Soporte de Alertas de temperatura";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            
                        }
                    }
                ]

            });

            tblEnroll = $('#tblEnroll').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy', 'excel',
                    {
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Soporte_enrolamiento_'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Soporte de enrolamiento general";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            // Styling the table: create style object
                            //var objLayout = {};
                            // Horizontal line thickness
                            //objLayout['hLineWidth'] = function(i) { return .5; };
                            // Vertikal line thickness
                            //objLayout['vLineWidth'] = function(i) { return .5; };
                            // Horizontal line color
                            //objLayout['hLineColor'] = function(i) { return '#aaa'; };
                            // Vertical line color
                            //objLayout['vLineColor'] = function(i) { return '#aaa'; };
                            // Left padding of the cell
                            //objLayout['paddingLeft'] = function(i) { return 4; };
                            // Right padding of the cell
                            //objLayout['paddingRight'] = function(i) { return 4; };
                            // Inject the object in the document
                            //doc.content[1].layout = objLayout;
                        }
                    }
                ]

            });

            tblEvents = $('#tblEvents').DataTable({
                "bPaginate": true,
                aaSorting:[],
                "processing": true,
                "sPaginationType": "full_numbers",
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy', 'csv', 'excel',{
                        extend: 'pdfHtml5',
                        filename: function(){
                                var d = new Date().toLocaleString();
                                return 'Consulta_eventos_'+ d;
                            },
                        customize: function (doc) {
                            //doc.pageMargins = [10,10,10,10];
                            doc.defaultStyle.fontSize = 7;
                            doc.styles.tableHeader.fontSize = 7;
                            doc.styles.title.fontSize = 18;
                            // Remove spaces around page title
                            doc.content[0].text = " Soporte eventos registrados";
                            doc.content[0].text = doc.content[0].text.trim();
                            // Create a footer
                    
                            doc['header']=(function(page, pages) {
                                return {
                                    columns: [
                                        'INDRA - ' + todayDate,
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            doc['footer']=(function(page, pages) {
                                return {
                                    columns: [
                                        'Informe impreso por QA Ingenieros - Fecha : ',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: ['Pagina ', { text: page.toString() },  ' de ', { text: pages.toString() }]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });
                            // Styling the table: create style object
                            //var objLayout = {};
                            // Horizontal line thickness
                            //objLayout['hLineWidth'] = function(i) { return .5; };
                            // Vertikal line thickness
                            //objLayout['vLineWidth'] = function(i) { return .5; };
                            // Horizontal line color
                            //objLayout['hLineColor'] = function(i) { return '#aaa'; };
                            // Vertical line color
                            //objLayout['vLineColor'] = function(i) { return '#aaa'; };
                            // Left padding of the cell
                            //objLayout['paddingLeft'] = function(i) { return 4; };
                            // Right padding of the cell
                            //objLayout['paddingRight'] = function(i) { return 4; };
                            // Inject the object in the document
                            //doc.content[1].layout = objLayout;
                        }
                    }
                ]

            });

            var start = $('#repoInitTime').val();
            var end = $('#repoEndTime').val();

            console.log("Lectura fecha :" + start, end);

            if (start.length == 10)
                start += " 00:00:00"
            if (end.length == 10)
                end += " 23:59:59"

            console.log("Nueva fechahora :" + start, end);

            getReport(start, end)
        });

        $("#consultBtn").on('click', function(){
            getReport($('#repoInitTime').val(),$('#repoEndTime').val())
        })

        $(document).ready(function(){
            reportQuery();
            //$("eventosDia").html = eventosDia.lenght();
            //$("reconocimientosDia").html = reconocimientosDia.lenght();

        });

        function sendEmail() {
            pdfName = exportPDF();
            dest = $("#destinatario").val();
            dataOut = {
                FromEmail:"reportes@qaingenieros.com", 
                FromName:"QA Ingenieros Ltda",
                ToEmail:dest,
                ToName:"",
                Attach: pdfName,
                Subject:"Reporte diario piloto Acceso por Temperatura y Reconocimiento",
                Message:"Cordial Saludo, \n A continuacion encontrara la informacion del periodo"
            }

            jQuery.ajax({
                type: "POST",
                format: "json",
                url: '@Url.Action("SendEmail", "Reporte")',
                dataType: "json",
                data: dataOut,
                success: function (data) {

                    console.log(data);
                            

                }
            });

        }

        function getReport(start, end) {
            getTotalRegistros("2020-07-13 00:00:00", end, null)
            getTotalRegistros("2020-07-13 00:00:00", end, true)
            getTotalEnroll(start, end, null)
            getTotalEnroll(start, end, true)
            getTotalEnrollUpdate(start, end, null)
            getTotalReco(start, end)
            getTotalPersonas(start,end)
            getDistReco(start, end)
            getTotalAlertas(start, end)
            getEnrollSec('2020-07-13 12:00', end);
        }

        function getEnrollSec(start, end) {

        }

        function getTotalRegistros(start, end, hasPhoto) {
            data = {
                start_date: start,
                end_date: end,
                hasPhoto: hasPhoto,
                //eXcompany: "indra"
            };

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getRepoEnroll", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {

                    console.log(data);
                    result = data.data;
                    if (hasPhoto == null) {
                        $("#totalRegistros").empty();                    
                        $("#totalRegistros").html(data.count);
                    } 
                    if (hasPhoto == true) {
                        $("#totalEnrolados").empty();                    
                        $("#totalEnrolados").html(data.count);
                    } 
                    

                }
            });

        }


        function getTotalEnrollUpdate(start, end, hasPhoto) {

            data = {
                start_update: start,
                end_update: end,
                //eXcompany:"indra"
            };

            if(hasPhoto != null) {
                data.hasPhoto = hasPhoto
            }
            console.log("Consulta de actualizados del periodo");
            console.log(data)

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getRepoEnroll", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {

                    console.log("Datos de actualizados con hasPhoto en " + hasPhoto)
                    console.log(data);
                    result = data.data;
                        
                    console.log("Total actualizados en el periodo :" + totalEnrolPeriodo);
                    $("#totalUpdatedPeriodo").empty();                    
                    $("#totalUpdatedPeriodo").html(data.count);

                }
        
            });

        }


        function getTotalEnroll(start, end, hasPhoto) {

            data = {
                start_date: start,
                end_date: end,
                //eXcompany:"indra"
            };

            if(hasPhoto != null) {
                data.hasPhoto = hasPhoto
            }
            console.log("Consulta de enrolados y enroladso con foto");
            console.log(data)

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getRepoEnroll", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {

                    console.log("Datos de enrolados con hasPhoto en " + hasPhoto)
                    console.log(data);
                    result = data.data;
                    
                    if (hasPhoto == null) {
                            // Se muestra el total
                        $("#totalEnroladosPeriodo").empty();                    
                        $("#totalEnroladosPeriodo").html(data.count);

                        tblEnroll.clear();
                        $.each(data.data, function(key,value){
                            
                            tblEnroll.row.add(
                                [
                                value.time,
                                value.docId,
                                value.name,
                                    value.empresa,
                                value.ciudad,
                                value.hasPhoto
                                ]
                            )
                        })
                        tblEnroll.draw();
                    } 
                    if (hasPhoto == true) {
                        
                        console.log("Total enrolados correctamente en el periodo :" + totalEnrolPeriodo);
                        $("#totalEnroladosOkPeriodo").empty();                    
                        $("#totalEnroladosOkPeriodo").html(data.count);

                    }
                        
                } 
                

            });

        }

        function getTotalReco(start, end) {
            data = {
                start_date: start,
                end_date: end,
                //eXcompany: "Indra"
            };
            console.log("get Total Reconocimiento")
            console.log(data)
            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getSopoRecoDia", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {

                    console.log(data);
                    result = data.data;

                    // Se muestra el total
                    $("#totalReconocimientos").empty();
                    $("#totalReconocimientos").html(data.count);

                    tblSopReco.clear();
                    $.each(data.data, function(key,value){
                        
                        tblSopReco.row.add(
                            [
                            value.dateTime,
                            value.ciudad,
                            value.puerta,
                            //value.devId,
                            value.docId,
                            value.name,
                            value.empresa,
                            value.similar.toFixed(2),
                            value.temperature.toFixed(2),
                            ]
                        )
                    })
                    tblSopReco.draw();
        

                }
            });

        }

        function getTotalPersonas(start, end) {
            data = {
                start_date: start,
                end_date: end,
                //eXcompany: "indra"
            };

            console.log("get Total Personas")
            console.log(data)

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getSopoRecoPersona", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {
                    
                    console.log(data);
                    result = data.data;
                    
                    // Se muestra el total
                    $("#totalPersonas").empty();                    
                    $("#totalPersonas").html(data.count);

                    tblSopRecoPerso.clear();
                    $.each(data.data, function(key,value){
                        
                        tblSopRecoPerso.row.add(
                            [
                            value.fecha,
                            value.ciudad,
                            value.userId,
                            value.name,
                            value.empresa
                            ]
                        )
                    })
                    tblSopRecoPerso.draw();
        

                }
            });

        }

        function getDistReco(start, end) {
            dataOut = {
                start_date: start,
                end_date: end,
                hasId: 1,
            };
            
            console.log("get Reconocimiento por Dispositivo")
            console.log(data)

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getRecoDia", "Reporte")',
                dataType: "json",
                data: dataOut,
                success: function (data) {
                    tblRecoDisp.clear();
                    $.each(data.data, function(key,value){
                        
                        tblRecoDisp.row.add(
                            [
                            value.fecha,
                            value.regional,
                            value.ciudad,
                            value.puerta,
                            value.recos,
                            value.personas,
                            value.alertas,
                            ]
                        )
                    })
                    tblRecoDisp.draw();
                    console.log(data)

                }   
            });   
                
                                      

        }

        function getTotalAlertas(start, end) {
            data = {
                start_date: start,
                end_date: end,
                tmin: 37.3,
                //eXcompany: "Indra"
            };

            console.log("get Total Alertas")
            console.log(data)

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getSopoRecoDia", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {

                    console.log(data);
                    result = data.data;

                    // Se muestra el total
                    $("#totalAlertas").empty();
                    $("#totalAlertas").html(data.count);

                    tblSopAlertas.clear();
                    $.each(data.data, function(key,value){
                        
                        tblSopAlertas.row.add(
                            [
                            value.dateTime,
                            value.ciudad,
                            value.sitio,
                            value.devId,
                            value.docId,
                            value.name,
                            value.empresa,
                            value.similar.toFixed(2),
                            value.temperature.toFixed(2),
                            ]
                        )
                    })
                    tblSopAlertas.draw();
        

                }
            });

        }


        function reportQuery() {
            let todayDate = new Date().toLocaleString();

            console.log(todayDate);
            // Total eventos del dia

            let initDev = null;
            let initName = null;
            let ecp_device_id = null;
            let initTempMin = null;
            let initTempMax = null;
            let initDate = null;
            let endDate = null;
            let initHasId = null;

            if(typeof device_id !== 'undefined') {
                initDev = (device_id > 0) ? device_id : null;
            } else {
                initDev = null;
            }


            //Nombre
            if ($('#ecp_name').val() != 0) {
                console.log("El nombre a enviar es: ")
                console.log($('#ecp_name').val());
                initName = $('#ecp_name').val();
            }

            //Temperatura minima
            if ($('#ecp_temp_min').val() != 0) {
                console.log("La temperatura mínima a enviar es: ")
                console.log($('#ecp_temp_min').val());
                initTempMin = $('#ecp_temp_min').val();
            }

            //Temperatura minima
            if ($('#ecp_temp_max').val() != 0) {
                console.log("La temperatura máxima a enviar es: ")
                console.log($('#ecp_temp_max').val());
                initTempMax = $('#ecp_temp_max').val();
            }

            //Fecha inicial
            if ($('#init').val() != 0) {
                console.log("El valor del calendario es: ")
                console.log($('#init').val());
                initDate = $('#init').val();
            }

            //Fecha final
            if ($('#end').val() != 0) {
                console.log("El valor del calendario es: ")
                console.log($('#end').val());
                endDate = $('#end').val();
            }

            // Dispositivo
            if ($('#ecp_dev_id').val() != 0) {
                console.log("El valor del dispositivo es: ")
                console.log($('#ecp_dev_id').val());
                ecp_device_id = $('#ecp_dev_id').val();
            }

            // Puerta
            if ($('#ecp_puerta').val() != 0) {
                console.log("El valor de la puerta es : ")
                console.log($('#ecp_puerta').val());
                endDate = $('#ecp_puerta').val();
            }

            // hasId
            if ($('#rec_en').val() != 0) {
                console.log("El valor de reconocido es : ")
                console.log($('#rec_en').val());
                if ($('#rec_en').val() == 1) {
                    hasId = "true";
                } else {
                    hasId = null;
                }
                
            }


            data={
                    device_id: ecp_device_id,
                    name: initName,
                    tmin: initTempMin,
                    tmax: initTempMax,
                    start_date: initDate,
                    end_date: endDate,

                };

            console.log("get Data Eventos")
            console.log(data)

            eventosDia = getData(data);

        }

        function getData(data) {
            // var t_min= $("#tmin").value();
            $('#example thead tr').clone(true).appendTo( '#example thead' );
            $('#example thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        
            $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getEventos", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {
                    // href='" + String(value.imageUrl).substring(7) + "
                    tblEvents.clear();
                    $.each(data.data, function(key,value){
                        url = "<a  id='popImage' href='http://10.11.34.94:6050" + String(value.imageUrl).substring(7) + "' target='_blank'> <img width='50px' id='imageresource' src='http://10.11.34.94:6050" + String(value.imageUrl).substring(7) + "'</img></a>";
                        tblEvents.row.add(
                            [
                            value.registerTime,
                            value.devId,
                            value.userId,
                            value.name,
                            value.mask,
                            value.matched,
                            value.similar.toFixed(2),
                            value.temperature.toFixed(2),
                            url
                            
                            ]
                        )
                    })
                    tblEvents.draw();



                }
            });
        }

        $("#popImage").on("click", function() {
            console.log("Openong modla image");
            $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
            $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        });


    /* device basic configuration example
    {
        "mqtt_cmd":1,
        "mqtt_operate_id":1,
        "device_token":"1057628122",
        "device_id":"7101389947744",
        "tag":"platfrom define",
        "basic_config":
        {
            "dev_name":"12315456445864",
            "dev_pwd":"YWRtaW4=",
            "sync_server_pts_en":true,
            "server_cur_pts":"2020/05/18 11:07"
        }
    }

    */

    // Se dispara cuando se selecciona una tableta de la lista desplegable
    function changeDevice() {
        device_id = $(this).val();
        console.log("Device_id : " + device_id);
        $.get("/Device/getDeviceToken?device_id=" + device_id, function (data) {
            device_tkn = data.token;
            device_tag = data.tag;
            console.log("Data : ")
            console.log(data);
            console.log("Dev Tkn : " + device_tkn);
            console.log("Device_tag : " + device_tag);
        });

    }

    function queryPages() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var pages = parseInt($('#page').val());
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:4,
				page: pages
        }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying pages");
            }
        });
    }

    /* device basic configuration example
    {
            "mqtt_cmd": 1,
            "mqtt_operate_id": 7,
            "device_token": "1514348271",
            "device_id": "7101389947744",
            "tag": "platfrom define",
            "piclib_manage": 5,
            "param": {
                "lib": [
                    {
                        "lib_id": "8"
                    },
                    {
                        "lib_id": "9"
                    }
                ]
            }
        }

    */

        function queryBatch() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var batchs = $('#batch').val()
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:5,
                param: {

                    lib:
                    [
                    {
                        lib_id: batchs
                    }
                    ]
                }
            }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying batchs");
            }
        });
        }

    /* query individual or multiple user face database information
  {
				"mqtt_cmd":1,
				"mqtt_operate_id":7,
				"device_token":"1057628122",
				"device_id":"7101389947744",
				"tag":"platfrom define",
				"piclib_manage":6,
				"param":{
					"users":[
						{
							"user_id":"1"
						},
						{
							"user_id":"2"
						}
					]
				}
			}


    */

        function queryUser() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var users = $('#user').val()
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:6,
                param:
                {
                    users:
                    [
                    {
                        user_id: users
                    }
                    ]

                }
            }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying users");
            }
        });
        }
    </script>

</div>




