@{
    ViewData["Title"] = "Device Page";
}

<link href="@Url.Content("~/css/reporte.css")" rel="stylesheet" type="text/css" />
<!-- <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item active">REPORTES</li>
</ul> -->
<div class="container-fluid">
    
    <div class="col-md-12 card-deck">
            

    </div>


    <!--   Querys  -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="reporte view" id="reporte">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header ">
                                        <h4 class="card-title">Consulta de datos</h4>                        
                                            <select id="bind_device_id_select">
                                                <option value="" data-token=""> Seleccione </option>

                                                @foreach (dynamic device in ViewBag.Devices)
                                                {
                                                    <option value="@device.dev_id">@device.tag</option>
                                                }
                                            </select>
                                            <label for="Name">Nombre: </label>
                                            <input type="text" id="ecp_name" name="Name"><br><br>
                                            <label for="Temp">Temperatura: </label>
                                            <input type="text" id="ecp_temp" name="Temp"><br><br>
                                            <div class="input-group-append"><button class="btn btn-success" id="Query" style="width:165px;">Enviar</button></div>                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card" style="max-height:330px;">
                                <div class="card-header">
                                    <h4 class="card-title">Datos obtenidos</h4>
                                </div>
                                <div class="card-body" id="dynReport" style="overflow:scroll" >
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Eventos</h4>
                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <!-- <div class="stat-text">Total Asistencias Registradas</div> -->
                                            <div class="stat-digit" id="eventosDia">  </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Alumnos</h4>

                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <!-- <div class="stat-text">Alumnos Atendidos</div> -->
                                            <div class="stat-digit" id="reconocimientosDia"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Programas</h4>
                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <div class="stat-digit" id="profitBogota"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Profesoras</h4>

                                </div>
                                <div class="card-body">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                                        <div class="stat-content dib" style="text-align:center">
                                            <!-- <div class="stat-text">Total Asistencias Registradas</div> -->
                                            <div class="stat-digit" id="profitBogota"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Asistencia Alumnos</h4>
                                    <p class="card-category">Distribucion de Asistencias por Programa y Nivel</p>
                                </div>
                                <div class="card-body " style="height:450px;overflow:auto;">
                                    <!-- <div id="columnwrapper6" style="width:100%; margin-bottom: 20px;"></div>
                                    <?php //echo $this->Highcharts->render($chartName6); ?> -->
                                    <table id="tblNiveles" class="table table-vcenter table-responsive table-condensed table-bordered display">
                                        <thead>
                                            <tr>
                                                <th>Programa</th>
                                                <th>Nivel</th>
                                                <th>Alumnos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                    </table>
                                </div>

                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> http://sing.com.co
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="walkins">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Relación de Alumnos</h4>
                                        <p class="card-category">Distribucion de Asistencias por dia de la semana</p>
                                    </div>
                                    <div class="card-body " style="height:450px;overflow:auto;">
                                        <table id="tblAlumnos" class="table table-vcenter table-responsive table-condensed table-bordered display">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Acudiente</th>
                                                    <th>Asistencias</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-clock-o"></i> http://sing.com.co
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Asistencias</h4>
                                            <p class="card-category">Distribucion de Asistencias por dia de la semana</p>
                                        </div>
                                        <div class="card-body " style="height:450px;">
                                            <div id="columnwrapper" style="width:100%; margin-bottom: 20px;"></div>

                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> http://sing.com.co
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Asistencias por Programa</h4>
                                            <p class="card-category">Distribucion de Asistencias por Programa</p>
                                        </div>
                                        <div class="card-body " style="height:450px;">
                                            <div id="columnwrapper1" style="width:100%; margin-bottom: 20px;"></div>

                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> http://sing.com.co
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Asistencias por Profesor</h4>
                                            <p class="card-category">Distribucion de Asistencias por Profesor</p>
                                        </div>
                                        <div class="card-body " style="height:450px;">
                                            <div id="columnwrapper2" style="width:100%; margin-bottom: 20px;"></div>

                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> http://sing.com.co
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Registro Asistencias por Nivel</h4>
                                            <p class="card-category">Distribucion de Asistencias por Nivel</p>
                                        </div>
                                        <div class="card-body " style="height:450px;">
                                            <div id="columnwrapper4" style="width:100%; margin-bottom: 20px;"></div>
                                            <?php echo $this->Highcharts->render($chartName5); ?>
                                        </div>

                                        <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> http://sing.com.co
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Asistencias por Alumno</h4>
                                    <p class="card-category">Asistencias registradas en el periodo</p>
                                </div>
                                <div class="card-body " style="height:450px;">
                                    <div id="columnwrapper5" style="width:100%; margin-bottom: 20px;"></div>

                                </div>

                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> http://sing.com.co
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">CONSULTAS</h4>
                <br>
                <select id="bind_device_id_select">
                    <option value="" data-token=""> Seleccione </option>

                    @foreach (dynamic device in ViewBag.Devices)
                    {
                        <option value="@device.dev_id">@device.tag</option>
                    }
                </select> <div class="input-group-append"></div>
                <br>
                <div class="row">
                    <form>
                        <h5>Consulta por páginas</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> Cantidad de páginas </span></div><input autocomplete="off" type="text" class="form-control" id="page" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_pages" style="width:165px;">REALIZAR CONSULTA</button></div>
                        </div>

                        <div class="row">

                        </div>
                        <h5>Consulta por lote</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> ID del lote </span></div><input autocomplete="off" type="text" class="form-control" id="batch" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_batch" style="width:165px;">CONSULTAR LOTE</button></div>
                        </div>

                        <div class="row">

                        </div>
                        <h5>Consulta por usuario</h5>

                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"> ID del usuario </span></div><input autocomplete="off" type="text" class="form-control" id="user" />
                            <div class="input-group-append"><button class="btn btn-success" id="query_user" style="width:165px;">CONSULTAR USUARIO</button></div>
                        </div>
                        <div class="row">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<
        <!-- Carga las librerias de MQTT js -->
        <!--  <script src="~/js/mqtt.js"></script> -->

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
        <script>
        var result = [];
        var device_tkn;
        var eventosDia, reconocimientosDia, personasDia;

        $('#query_pages').on('click',queryPages);
        $('#query_batch').on('click', queryBatch);
        $('#query_user').on('click', queryUser);
        $('#bind_device_id_select').on('change', changeDevice);

        $('#Query').on('click', reportQuery);   

        $(document).ready(function(){
            reportQuery();
            $("eventosDia").html = eventosDia.lenght();
            $("reconocimientosDia").html = reconocimientosDia.lenght();
        });


        function reportQuery() {
            let todayDate= new Date().toLocaleString();

            console.log(todayDate);
            // Total eventos del dia
            data={
                    //device_id: device_id,
                    //tmin: 36,
                    //hasId: 1,
                    start_date:todayDate
                },
            eventosDia = getData(data);

            data={
                    //device_id: device_id,
                    //tmin: 36,
                    hasId: 1,
                    start_date:todayDate
                },
            reconocimientosDia = getData(data);



        }

        function getData(data) {
            // var t_min= $("#tmin").value();
            jQuery.ajax({
                type: "GET",
                format: "json",
                url: '@Url.Action("getEventos", "Reporte")',
                dataType: "json",
                data: data,
                success: function (data) {
                    console.log(data);
                    result = data;
                    //result = jQuery.parseJSON(data);
                    
                    console.log(result);
                    /*
                     * for (var [key, value] of Object.entries(data)) {
                        //console.log(key + ' ' + value); // "a 5", "b 7", "c 9"
                        console.log(value);
                        $("#reporte").append("<li>" + value.name + "</li>");
                    }
                    */
                    $("#dynReport").empty();
                    html = "<table class='table table-striped w-auto'><tr><th> Fecha </th><th> Device </th><th> Nombre </th><th> Temperatura </th></tr><tr>";
                    $("#dynReport").append(html);
                    $.each(data.data, function (index, value) {
                        // here you can do your magic
                        
                        html = "<tr><td>" + value.registerTime + "</td><td>" + value.devId +  "</td><td>" + value.name +  "</td><td>" + value.temperature +  "</td></tr>"
                        console.log(html);
                        $("#dynReport").append(html);
                    });
                    html = "</table>"
                    $("#dynReport").append(html);

                    
                    
                }
            });
        }


    /* device basic configuration example
    {
        "mqtt_cmd":1,
        "mqtt_operate_id":1,
        "device_token":"1057628122",
        "device_id":"7101389947744",
        "tag":"platfrom define",
        "basic_config":
        {
            "dev_name":"12315456445864",
            "dev_pwd":"YWRtaW4=",
            "sync_server_pts_en":true,
            "server_cur_pts":"2020/05/18 11:07"
        }
    }

    */

    // Se dispara cuando se selecciona una tableta de la lista desplegable
    function changeDevice() {
        device_id = $(this).val();
        console.log("Device_id : " + device_id);
        $.get("/Device/getDeviceToken?device_id=" + device_id, function (data) {
            device_tkn = data.token;
            device_tag = data.tag;
            console.log("Data : ")
            console.log(data);
            console.log("Dev Tkn : " + device_tkn);
            console.log("Device_tag : " + device_tag);
        });

    }

    function queryPages() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var pages = parseInt($('#page').val());
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:4,
				page: pages
        }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying pages");
            }
        });
    }

    /* device basic configuration example
    {
            "mqtt_cmd": 1,
            "mqtt_operate_id": 7,
            "device_token": "1514348271",
            "device_id": "7101389947744",
            "tag": "platfrom define",
            "piclib_manage": 5,
            "param": {
                "lib": [
                    {
                        "lib_id": "8"
                    },
                    {
                        "lib_id": "9"
                    }
                ]
            }
        }

    */

        function queryBatch() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var batchs = $('#batch').val()
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:5,
                param: {

                    lib:
                    [
                    {
                        lib_id: batchs
                    }
                    ]
                }
            }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying batchs");
            }
        });
        }

    /* query individual or multiple user face database information
  {
				"mqtt_cmd":1,
				"mqtt_operate_id":7,
				"device_token":"1057628122",
				"device_id":"7101389947744",
				"tag":"platfrom define",
				"piclib_manage":6,
				"param":{
					"users":[
						{
							"user_id":"1"
						},
						{
							"user_id":"2"
						}
					]
				}
			}


    */

        function queryUser() {
        var dev_id = "7101076854037";
        var dev_tag = "DEV02";
        var users = $('#user').val()
        console.log(dev_id, dev_tag);
        jsonMsg =
            {
				mqtt_cmd:1,
                mqtt_operate_id: 7,
                device_token: device_tkn,
                device_id: dev_id,
                tag: dev_tag,
			    piclib_manage:6,
                param:
                {
                    users:
                    [
                    {
                        user_id: users
                    }
                    ]

                }
            }
        ;
        jsonMsg = JSON.stringify(jsonMsg);
        console.log(jsonMsg);
        $.ajax({
            type: "GET",
            url: '@Url.Action("publishMQTT", "Device")',
            dataType: "json",
            data:{
                topic:"SubscribeTest",
                msg: jsonMsg,
            },
            async: false,
            success: function(data) {

                var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                $('#mqtt_send').html(
                    jsonPretty
                )
            },
            error: function() {
                console.log("Error querying users");
            }
        });
        }
        </script>

    </div>




